@use './mixins' as m;


.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;

  @include m.tablet {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}

.header-title {
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 45px;
  font-weight: bold;

  @include m.tablet {
    margin-bottom: 10px;  
    font-size: 35px;
  }
}

.header-button {

  @include m.tablet {
    margin-bottom: 20px;  
  }
}